body,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  margin: 0;
  padding: 0;
}


a {
  color: inherit;
  text-decoration: none;
}


nav {
  /* display: flex; */
  /* justify-content: center; */
  /* flex-direction: column; */
  background-color: white;
  border-top: 3px solid #566573;
  border-bottom: 1px solid lightgrey;
  padding: 10px;
}


.title {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  padding-bottom: 5px;
  font-weight: bold;
}


.subtitle {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  align-items: center;
  color: grey;
}


#menu-icon {
  display: flex;
  flex-direction: column;
  /* justify-content: start;
  align-items: center; */
  font-size: 24px;
  cursor: pointer;
}


/* .stacked {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */


#container {
  display: flex;
  flex-direction: row;
  height: 100%;
}


#left-column {
  flex: 1;
  border-right: 1px solid lightgrey;
}


#right-column {
  flex: 4;
}


.invisible {
  display: none;
}


#notes {
  font-weight: bold;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}


.notes-plus {
  border-bottom: 1px solid lightgrey;
  padding: 8px;
}


#plus-icon {
  display: flex;
  justify-content: end;
  font-weight: bold;
  cursor: pointer;
}


#create-note-message {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  padding: 8px;
  height: 100vh;
}


.new-note {
  background-color: #566573;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 10px;
}


#editor {
  height: '200px';
  font-family:Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


#untitled-top {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  font-weight: bold;
}


/* .save-edit-buttons {
  display: flex;
  justify-content: end;
  color:red;
} */
